* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

nav {
    width: 100%;
    background-color: #007bff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

li {
    margin: 0 15px;
}

.navbar-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s, transform 0.3s;
}

.navbar-link:hover {
    background-color: #0056b3;
    border-radius: 5px;
    transform: scale(1.1);
}

.navbar-link:active {
    transform: scale(0.95);
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 15px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
select,
textarea,
input[type="number"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 40px; /* Samakan tinggi dengan input dan select */
    resize: none; /* Mencegah perubahan ukuran */
    box-sizing: border-box; /* Pastikan padding termasuk dalam ukuran elemen */
}
input[type="submit"] {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    /* Tabel memenuhi lebar container */
    border-collapse: collapse;
    margin-top: 10px;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 10px;
    text-align: left;
}
